* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: 500;
}

* {
    padding: 0;
    margin: 0;
}

:root{
    --main-radius: 5px;
    --main-padding: 5px;
}

/* -- GRID STYLES -- */

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.05fr 0.9fr 0.05fr;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
}

nav {
    grid-area: nav;
    background-color: rgba(0,0,0,0.7);
}

.sidebar {
    grid-area: sidebar;
    background-color: aquamarine;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

main {
    grid-area: main;
    background-color: burlywood; 
    border-radius: var(--main-radius);
    margin: 0;
    padding: 0;
}

footer {
    grid-area: footer;
    background-color: rgba(0,0,0,0.7);
}

@media only screen and (max-width:550px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.8fr 0.1fr;
        grid-template-areas: 
        "nav"
        "main"
        "footer"
    }
}

@media only screen and (max-height:900px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.8fr 0.1fr;
        grid-template-areas: 
        "nav"
        "main"
        "footer"
    }
}

/* -- NAV -- */

nav ul {
    padding-top: 1vh;
}

nav ul li a {
    text-decoration: none;
}

/* -- MAIN -- */



/* -- FOOTER -- */

.disclaimer {
    text-align: center;
    color: rgb(14, 14, 14);
}

/* ----- HEADINGS ----- */

h1 {
    font-size: 280%;
    font-weight: 300;
    color: #fff;
}

h2 {
    padding: 0;
    font-size: 130%;
    font-weight: 5;
    color: #fff;
    margin-left: 0.4%;
    padding-bottom: 1.5%;
}

/* ----- BUTTONS ------ */

.btn {
    padding-bottom: 2%;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #fd9644;
    color: #fff;
    border: 1px solid #fd9644;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #fd9644;
    color: #fd9644;
}

.btn:hover,
.btn:active {
    background-color: #fa8231;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #fd9644;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #fd9644;
    color: #fff;
}

.btn-ghost:hover,
.btn-ghost.hover {
    color:white !important;
}

.btn-full:hover,
.btn-full.hover {
    color:white !important;
}

/* -- HEADER -- */
#section-header {
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../src/fartbucks.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
}

nav li {
    padding: 4%;
    display: inline;
    font-size: 180%;
    color: #fa8231;
}

nav li a {
    color: #fa8231;
}

.heading {
    grid-area: 2 / 1 / span 1 / span 1;
    padding-left: 15%;
    padding-top: 15%;
}

.hero-text-box h1 {
    color: white;
    padding-bottom: 2%;
}


.hero-text-box p {
    color: white;
}